<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let p of context.projects">
      <div class="card card-project">
        <div class="card-header">
          <div class="project-header">{{p.name}}</div>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="card-body">
          <img width="300" height="200" [src]="p.url" />
        </div>
        <div class="card-footer">
          <span class="price">$ {{p.price}} each</span>
          <span>{{p.releaseDate}}</span>
          <button *ngIf="p.type=='donate'" class="btn btn-success float-md-right"
                  data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                  (click)="showPayment(p)">
            Donate
          </button>
          <button *ngIf="p.type=='invest'" class="btn btn-success float-md-right"
                  data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                  (click)="showPayment(p)">
            Invest
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="context.paymentOngoing">
  <div class="popup-div">
    <div class="card card-payment">
      <div class="card-header">Credit Card Payment</div>
      <div id="credit-card" class="card-body">
        <form role="form" onsubmit="event.preventDefault()">
          <div class="form-group">
            <label for="username">
              <h6>Card Owner</h6>
            </label>
            <select type="text" name="username" required class="form-control">
              <option *ngFor="let n of context.tokens">{{n}} tokens for {{n*selectedProject.price}} dollars</option>
            </select> 
          </div>
          <div class="form-group">
            <label for="username">
              <h6>Card Owner</h6>
            </label> <input type="text" name="username" placeholder="Card Owner Name" required class="form-control ">
          </div>
          <div class="form-group">
            <label for="cardNumber">
              <h6>Card number</h6>
            </label>
            <div class="input-group">
              <input type="text" name="cardNumber" placeholder="Valid card number" class="form-control " required>
              <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fab fa-cc-visa mx-1"></i> <i class="fab fa-cc-mastercard mx-1"></i> <i class="fab fa-cc-amex mx-1"></i> </span> </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <label>
                  <span class="hidden-xs">
                    <h6>Expiration Date</h6>
                  </span>
                </label>
                <div class="input-group"> <input type="number" placeholder="MM" name="" class="form-control" required> <input type="number" placeholder="YY" name="" class="form-control" required> </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group mb-4">
                <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                  <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                </label> <input type="text" required class="form-control">
              </div>
            </div>
          </div>
        </form>
        <div class="card-footer">
          <button type="button" class="subscribe btn btn-primary btn-block shadow-sm" (click)="closePayment(true)"> Confirm Payment </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="context.paymentSuccessfull">
  <div class="popup-div">
    <div class="card card-payment">
      <div class="card-header">Successfull Payment</div>
      <div id="credit-card" class="card-body">
        <form role="form" onsubmit="event.preventDefault()">
          <div class="alert alert-success">Your payment has been successfully completed. The tokens were transfered.</div>
        </form>
        <div class="card-footer">
          <button type="button" class="subscribe btn btn-secondary btn-block shadow-sm" (click)="closeSuccess()"> Stay Anonymous </button>
          <br />
          <button type="button" class="subscribe btn btn-primary btn-block shadow-sm" (click)="closeSuccess()"> Take Ownership </button>
        </div>
      </div>
    </div>
  </div>
</div>
